<header role="banner">
  <nav class="sidebar">
    <h1 href="/home">SaborSync</h1>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>

    <ng-container *ngIf="{ userRole: userRole$ | async } as state">
      <ul class="nav-links" [ngClass]="{ open: isMenuOpen }">
        <!-- Página Inicial -->
        <li>
          <a href="/home">
            <i class="fa-solid fa-house"></i>
            <span>Página Inicial</span>
          </a>
        </li>

        <li *ngIf="state.userRole === 'admin' || state.userRole === 'clerk'">
          <a href="/casher">
            <i class="fa-solid fa-wallet"></i>
            Caixa
          </a>
        </li>

        <li *ngIf="state.userRole">
          <button (click)="toggleSubMenu('order')" class="submenu-toggle">
            <i class="fa-solid fa-clipboard-list"></i>
            <span>Pedidos</span>
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <ul *ngIf="openSubMenu === 'order'" class="submenu">
            <li
              *ngIf="
                state.userRole === 'admin' ||
                state.userRole === 'clerk' ||
                state.userRole === 'employee'
              "
            >
              <a href="/order/create">
                <i class="fa-solid fa-plus-circle"></i>
                Novo Pedido
              </a>
            </li>
            <li
              *ngIf="
                state.userRole === 'admin' ||
                state.userRole === 'clerk' ||
                state.userRole === 'employee'
              "
            >
              <a href="/order">
                <i class="fa-solid fa-pen-to-square"></i>
                Gerenciar
              </a>
            </li>
          </ul>
        </li>

        <!-- Mesas -->
        <li *ngIf="state.userRole">
          <button (click)="toggleSubMenu('table')" class="submenu-toggle">
            <i class="fa-solid fa-table-cells"></i>
            <span>Mesas</span>
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <ul *ngIf="openSubMenu === 'table'" class="submenu">
            <li
              *ngIf="
                state.userRole === 'admin' ||
                state.userRole === 'clerk' ||
                state.userRole === 'employee'
              "
            >
              <a href="/table/create">
                <i class="fa-solid fa-plus-circle"></i>
                Nova Mesa
              </a>
            </li>
            <li
              *ngIf="state.userRole === 'admin' || state.userRole === 'clerk'"
            >
              <a href="/table">
                <i class="fa-solid fa-pen-to-square"></i>
                Gerenciar
              </a>
            </li>
          </ul>
        </li>

        <!-- Produtos -->
        <li *ngIf="state.userRole">
          <button (click)="toggleSubMenu('product')" class="submenu-toggle">
            <i class="fa-solid fa-box-open"></i>
            <span>Produtos</span>
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <ul *ngIf="openSubMenu === 'product'" class="submenu">
            <li
              *ngIf="state.userRole === 'admin' || state.userRole === 'clerk'"
            >
              <a href="/product/create">
                <i class="fa-solid fa-plus-circle"></i>
                Novo Produto
              </a>
            </li>
            <li
              *ngIf="
                state.userRole === 'admin' ||
                state.userRole === 'clerk' ||
                state.userRole === 'employee'
              "
            >
              <a href="/product">
                <i class="fa-solid fa-pen-to-square"></i>
                Gerenciar
              </a>
            </li>
          </ul>
        </li>

        <!-- Administração -->
        <li *ngIf="state.userRole === 'admin'">
          <button (click)="toggleSubMenu('admin')" class="submenu-toggle">
            <i class="fa-solid fa-lock"></i>
            <span>Administração</span>
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <ul *ngIf="openSubMenu === 'admin'" class="submenu">
            <li>
              <a href="/relatorio"
                ><i class="fa-solid fa-chart-pie"></i> Relatórios</a
              >
            </li>
            <li>
              <a href="/user"
                ><i class="fa-solid fa-users-gear"></i> Usuários</a
              >
            </li>
          </ul>
        </li>

        <!-- Login/Logout -->
        <li *ngIf="state.userRole; else login">
          <button (click)="logout()" class="logout-btn">
            <i class="fa-solid fa-right-to-bracket"></i>
            <span>Sair</span>
          </button>
        </li>
        <ng-template #login>
          <li>
            <a href="/login"
              ><i class="fa-solid fa-right-to-bracket"></i> Login</a
            >
          </li>
        </ng-template>
      </ul>
    </ng-container>
  </nav>
</header>

<div *ngIf="isLoading$ | async" class="loading-overlay">
  <p>Carregando...</p>
</div>

<router-outlet></router-outlet>
