<app-navbar #navbar></app-navbar>
<app-error-popup
  *ngIf="errorMessage"
  [errorMessage]="errorMessage"
  (close)="closeErrorPopup()"
></app-error-popup>

<!-- Popup de Confirmação de Exclusão -->
<div
  *ngIf="showDeletePopup"
  class="popup-delete-overlay"
  role="dialog"
  aria-modal="true"
  aria-labelledby="deleteTitle"
>
  <div class="popup-transfer">
    <button class="close-btn" (click)="closeDeletePopup()" aria-label="Fechar">
      <svg
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M13 1L1 13M1 1L13 13"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>
    </button>

    <div class="transfer-form">
      <h2 id="deleteTitle" class="title">Deletar Adicional</h2>
      <p class="instructions">Tem certeza que deseja excluir este adicional?</p>

      <div class="button-group">
        <button
          type="button"
          class="btn cancel-btn"
          (click)="closeDeletePopup()"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn transfer-btn"
          (click)="confirmDelete()"
        >
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="list-additinal-container"
  *ngIf="{ userRole: navbar.userRole$ | async } as state"
>
  <h2>Buscar adicionais pela categoria</h2>
  <div class="container-form">
    <label>Categorias</label>
    <select required [(ngModel)]="selectedCategoryId" name="category">
      <option *ngFor="let category of categoryGroup" [value]="category.id">
        {{ category.name }}
      </option>
    </select>

    <button (click)="listAdditionalByCategory(selectedCategoryId)">
      Buscar
    </button>
    <div *ngIf="showList" class="list-aditionals">
      <h2>Adicionais</h2>
      <button
        type="button"
        class="btn transfer-btn"
        (click)="openSwitchPopupByCategory(selectedCategoryId)"
      >
        Transferir Adicionais da Categoria
      </button>
      <table>
        <thead>
          <th>Nome</th>
          <th>Valor</th>
          <th>Maximo por Pedido</th>
          <th>Ações</th>
        </thead>
        <tbody>
          <tr *ngFor="let additional of listAdditional">
            <td data-label="Nome">{{ additional.name }}</td>
            <td data-label="Valor">{{ additional.value }} R$</td>
            <td data-label="Maximo por Pedido">{{ additional.maxAdd }}</td>
            <td
              *ngIf="['super', 'admin', 'clerk'].includes(state.userRole!)"
              data-label="Ações"
            >
              <div class="action-buttons">
                <button
                  (click)="openDeletePopup(additional.id!)"
                  class="delete-btn"
                >
                  <i class="fas fa-trash"></i>
                </button>
                <button (click)="openRenameName(additional)" class="edit-btn">
                  <i class="fas fa-edit"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="success-popup" [class.active]="showSuccessPopup">
  <div class="success-content">✅ Adicional excluído com sucesso!</div>
</div>
<div
  *ngIf="showRenamePopup"
  class="popup-delete-overlay"
  role="dialog"
  aria-modal="true"
  aria-labelledby="editTitle"
>
  <div class="popup-transfer">
    <button class="close-btn" (click)="closeRenameName()" aria-label="Fechar">
      <svg
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M13 1L1 13M1 1L13 13"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>
    </button>

    <div class="transfer-form">
      <h2 id="editTitle" class="title">Editar Adicional</h2>
      <label>Nome</label>
      <input type="text" [(ngModel)]="editName" />

      <label>Valor (R$)</label>
      <input type="number" [(ngModel)]="editValue" />

      <label>Máximo por Pedido</label>
      <input type="number" [(ngModel)]="editMaxAdd" />

      <div class="button-group">
        <button
          type="button"
          class="btn cancel-btn"
          (click)="closeRenameName()"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn transfer-btn"
          (click)="update(editId!, editName, editValue, editMaxAdd)"
        >
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="showSwitchPopup"
  class="popup-delete-overlay"
  role="dialog"
  aria-modal="true"
  aria-labelledby="deleteTitle"
>
  <div class="popup-transfer">
    <button class="close-btn" (click)="closeSwitchPopup()" aria-label="Fechar">
      <svg
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M13 1L1 13M1 1L13 13"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>
    </button>

    <div class="switch-form">
      <h2 id="switchTitle">Transferir Adicionais de Categoria</h2>
      <a>
        Observação: Transfere todos adicionais de uma categoria para outra
      </a>
      <label>Categoria de Origem</label>
      <input type="text" [(ngModel)]="categoryNameFrom" />

      <label>Categoria que deseja enviar</label>
      <select required [(ngModel)]="selectedCategoryIdToSwitch" name="category">
        <option *ngFor="let category of categoryGroup" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
      <div class="button-group">
        <button type="button" class="btn cancel-btn">Cancelar</button>
        <button
          (click)="
            switchAdditionals(categoryIdFrom, selectedCategoryIdToSwitch)
          "
          type="button"
          class="btn transfer-btn"
        >
          Trocar
        </button>
      </div>
    </div>
  </div>
</div>
