<!-- list-user.component.html -->
<app-navbar #navbar></app-navbar>
<app-error-popup
  *ngIf="errorMessage"
  [errorMessage]="errorMessage"
  (close)="closeErrorPopup()"
></app-error-popup>

<div
  class="users-container"
  *ngIf="{ userRole: navbar.userRole$ | async } as state"
>
  <h2 class="section-title">Gerenciamento de Usuários</h2>

  <div class="table-wrapper">
    <table class="innovative-table">
      <thead>
        <tr class="table-header">
          <th>Nome</th>
          <th>Cargo</th>
          <th>Status</th>
          <th *ngIf="state.userRole === 'admin'">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let user of init; trackBy: trackByUserId"
          class="user-row"
          [ngClass]="{ 'active-row': selectedUser === user.id }"
          (click)="toggleUserDetails(user.id)"
        >
          <td data-label="Nome">
            <div class="user-name">
              <i class="fas fa-user"></i>
              {{ user.name }}
            </div>
          </td>
          <td data-label="Cargo">
            <span class="role-tag {{ user.role }}">
              {{ user.role | titlecase }}
            </span>
          </td>
          <td data-label="Status">
            <span
              class="status-badge"
              [ngClass]="user.deletedAt ? 'inativo' : 'ativo'"
            >
              {{ user.deletedAt ? "Inativo" : "Ativo" }}
            </span>
          </td>
          <td *ngIf="state.userRole === 'admin'" data-label="Ações">
            <div class="actions-container">
              <button
                class="edit-btn"
                (click)="editUser(user.id); $event.stopPropagation()"
              >
                <i class="fas fa-edit"></i>
              </button>
              <button
                class="delete-btn"
                (click)="deleteUser(user.id); $event.stopPropagation()"
              >
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination">
    <button
      (click)="prevPage()"
      [disabled]="currentPage === 1"
      class="pagination-btn"
    >
      <i class="fas fa-chevron-left"></i>
    </button>
    <span class="page-indicator"
      >Página {{ currentPage }} de {{ dataSource.last_page }}</span
    >
    <button
      (click)="nextPage()"
      [disabled]="currentPage >= dataSource.last_page"
      class="pagination-btn"
    >
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>
</div>
