<app-error-popup
  *ngIf="errorMessage"
  [errorMessage]="errorMessage"
  (close)="closeErrorPopup()"
>
</app-error-popup>
<div class="table-container">
  <h2>Criar Mesa</h2>
  <div class="options-buttons">
    <button type="submit" (click)="showOne()">Criar uma Mesa</button>
    <button type="submit" (click)="showMany()">Criar Varias Mesas</button>
  </div>

  <div class="oneTable" *ngIf="oneTable == true">
    <form [formGroup]="tableForm" (ngSubmit)="onSubmit()">
      <div class="container-form">
        <label>Numero da mesa que deseja criar</label>
        <input
          type="number"
          formControlName="numberTable"
          required
          placeholder="Digite o numero da mesa"
        />
        <span
          *ngIf="
            tableForm.get('numberTable')?.invalid &&
            tableForm.get('numberTable')?.touched
          "
        >
          Numero da Mesa é nescessário
        </span>
      </div>
      <button type="submit" [disabled]="tableForm.invalid">Criar</button>
    </form>
  </div>
  <div class="ManyTable" *ngIf="manyTable == true">
    <form [formGroup]="manyTableForm" (ngSubmit)="onSubmitMany()">
      <div class="container-form">
        <label
          >Digite o numero incial e final do conjunto de mesas (Máximo 20 por
          vez)</label
        >
        <input
          type="number"
          formControlName="numberTableInital"
          required
          placeholder="Digite o numero incial"
        />
        <input
          type="number"
          formControlName="numberTableFinal"
          required
          placeholder="Digite o numero final"
        />
        <span *ngIf="isTableLimitExceeded">
          Só pode criar 20 mesas por vez
        </span>
      </div>
      <button type="submit" [disabled]="manyTableForm.invalid">Criar</button>
    </form>
  </div>
</div>
