<header role="banner">
  <nav class="sidebar">
    <h1 routerLink="/home">SaborSync</h1>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>

    <ng-container *ngIf="{ userRole: userRole$ | async } as state">
      <ul class="nav-links" [ngClass]="{ open: isMenuOpen }">
        <li>
          <a [routerLink]="['/estevam/home']">
            <i class="fa-solid fa-house"></i>
            <span>Página Inicial</span>
          </a>
        </li>

        <li *ngIf="['super', 'admin', 'clerk'].includes(state.userRole!)">
          <a [routerLink]="['/estevam/casher']">
            <i class="fa-solid fa-wallet"></i>
            <span>Caixa</span>
          </a>
        </li>

        <li *ngIf="state.userRole">
          <button (click)="toggleSubMenu('order')" class="submenu-toggle">
            <i class="fa-solid fa-clipboard-list"></i>
            <span>Pedidos</span>
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <ul *ngIf="openSubMenu === 'order'" class="submenu">
            <li>
              <a [routerLink]="['/estevam/order/create']">
                <i class="fa-solid fa-plus-circle"></i>
                Novo Pedido
              </a>
            </li>
            <li
              *ngIf="
                ['super', 'admin', 'clerk', 'employee'].includes(state.userRole)
              "
            >
              <a [routerLink]="['/estevam/order']">
                <i class="fa-solid fa-pen-to-square"></i>
                Gerenciar
              </a>
            </li>
          </ul>
        </li>

        <li *ngIf="state.userRole">
          <button (click)="toggleSubMenu('table')" class="submenu-toggle">
            <i class="fa-solid fa-table-cells"></i>
            <span>Mesas</span>
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <ul *ngIf="openSubMenu === 'table'" class="submenu">
            <li *ngIf="['super', 'admin'].includes(state.userRole)">
              <a [routerLink]="['/estevam/table/create']">
                <i class="fa-solid fa-plus-circle"></i>
                Nova Mesa
              </a>
            </li>
            <li>
              <a [routerLink]="['/estevam/table']">
                <i class="fa-solid fa-pen-to-square"></i>
                Gerenciar
              </a>
            </li>
          </ul>
        </li>

        <li *ngIf="['super', 'admin', 'clerk'].includes(state.userRole!)">
          <button (click)="toggleSubMenu('category')" class="submenu-toggle">
            <i class="fa-solid fa-tags"></i>
            <span>Categorias</span>
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <ul *ngIf="openSubMenu === 'category'" class="submenu">
            <li>
              <a [routerLink]="['/estevam/category']">
                <i class="fa-solid fa-plus-circle"></i>
                Criar Categoria
              </a>
            </li>
            <li>
              <a [routerLink]="['/estevam/category/list']">
                <i class="fa-solid fa-list"></i>
                Listar Categorias
              </a>
            </li>
          </ul>
        </li>

        <li *ngIf="['super', 'admin', 'clerk'].includes(state.userRole!)">
          <button (click)="toggleSubMenu('additional')" class="submenu-toggle">
            <i class="fa-solid fa-layer-group"></i>
            <span>Adicional</span>
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <ul *ngIf="openSubMenu === 'additional'" class="submenu">
            <li>
              <a [routerLink]="['/estevam/additional/create']">
                <i class="fa-solid fa-plus-circle"></i>
                Criar Adicional
              </a>
            </li>
            <li>
              <a [routerLink]="['/estevam/additional']">
                <i class="fa-solid fa-list"></i>
                Listar Adicionais
              </a>
            </li>
          </ul>
        </li>

        <li
          *ngIf="
            ['super', 'admin', 'clerk', 'employee'].includes(state.userRole!)
          "
        >
          <button (click)="toggleSubMenu('product')" class="submenu-toggle">
            <i class="fa-solid fa-box-open"></i>
            <span>Produtos</span>
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <ul *ngIf="openSubMenu === 'product'" class="submenu">
            <li *ngIf="['super', 'admin'].includes(state.userRole!)">
              <a [routerLink]="['/estevam/product/create']">
                <i class="fa-solid fa-plus-circle"></i>
                Novo Produto
              </a>
            </li>
            <li>
              <a [routerLink]="['/estevam/product']">
                <i class="fa-solid fa-list"></i>
                Gerenciar
              </a>
            </li>
          </ul>
        </li>

        <li *ngIf="['super', 'admin'].includes(state.userRole!)">
          <button (click)="toggleSubMenu('admin')" class="submenu-toggle">
            <i class="fa-solid fa-lock"></i>
            <span>Administração</span>
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <ul *ngIf="openSubMenu === 'admin'" class="submenu">
            <li>
              <a [routerLink]="['/estevam/relatorio']">
                <i class="fa-solid fa-chart-pie"></i> Relatórios
              </a>
            </li>
            <li>
              <a [routerLink]="['/estevam/user']">
                <i class="fa-solid fa-users-gear"></i> Equipe
              </a>
              <a [routerLink]="['/estevam/config']">
                <i class="fa-solid fa-gear"></i> Configuração
              </a>
            </li>
          </ul>
        </li>

        <li *ngIf="state.userRole">
          <button (click)="logout()" class="logout-btn">
            <i class="fa-solid fa-right-to-bracket"></i>
            <span>Sair</span>
          </button>
        </li>
      </ul>
    </ng-container>
  </nav>
</header>
