<!-- create-product.component.html -->
<app-navbar></app-navbar>
<app-error-popup
  *ngIf="errorMessage"
  [errorMessage]="errorMessage"
  (close)="closeErrorPopup()"
></app-error-popup>

<div class="product-container">
  <h2>Criar Produto</h2>
  <form
    [formGroup]="productForm"
    (ngSubmit)="onSubmit()"
    enctype="multipart/form-data"
  >
    <div class="container-form">
      <label>Nome do Produto</label>
      <input type="text" formControlName="name" required />
      <span
        *ngIf="
          productForm.get('name')?.invalid && productForm.get('name')?.touched
        "
      >
        Nome é necessário
      </span>
    </div>

    <div class="container-form">
      <label>Valor</label>
      <input type="number" formControlName="value" required step="0.01" />
      <span
        *ngIf="
          productForm.get('value')?.invalid && productForm.get('value')?.touched
        "
      >
        Valor é necessário
      </span>
    </div>

    <div class="container-form">
      <label>Categoria</label>
      <select formControlName="categoryId" required>
        <option *ngFor="let category of categoryGroup" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
      <span
        *ngIf="
          productForm.get('category')?.invalid &&
          productForm.get('category')?.touched
        "
      >
        Categoria é necessária
      </span>
    </div>

    <div class="container-form">
      <label>Descrição</label>
      <textarea formControlName="description" required></textarea>
      <span
        *ngIf="
          productForm.get('description')?.invalid &&
          productForm.get('description')?.touched
        "
      >
        Descrição deve ter no mínimo 10 caracteres
      </span>
    </div>

    <div class="container-form">
      <label>Imagem do Produto</label>
      <div class="file-input-container">
        <input
          type="file"
          #fileInput
          (change)="onFileSelected($event)"
          accept="image/*"
          required
        />
        <div class="image-preview" *ngIf="previewUrl">
          <img [src]="previewUrl" alt="Pré-visualização da imagem" />
        </div>
      </div>
      <span
        *ngIf="
          productForm.get('image')?.invalid && productForm.get('image')?.touched
        "
      >
        Imagem é obrigatória
      </span>
    </div>

    <button type="submit" [disabled]="productForm.invalid">Criar</button>
  </form>
</div>

<div class="success-popup" [class.active]="showSuccessPopup">
  <div class="success-content">✅ Produto Criado com Sucesso!</div>
</div>
