<div class="search-container">
  <div class="search-group">
    <input
      class="search-input"
      type="search"
      [(ngModel)]="searchTerm"
      (input)="onSearch()"
      placeholder="Buscar cliente..."
      aria-label="Buscar por nome do cliente"
    />
  </div>
</div>

<div class="status-buttons">
  <button
    class="status-button"
    [class.active]="selectedStatus === 'Aberto'"
    (click)="changeStatus('Aberto')"
  >
    Pedidos a serem aprovados
  </button>
  <button
    class="status-button"
    [class.active]="selectedStatus === 'Pendente'"
    (click)="changeStatus('Pendente')"
  >
    Pedidos em produção
  </button>
</div>

<h2
  class="section-title"
  [ngClass]="{
    'pedidos-abertos': selectedStatus === 'Aberto',
    producao: selectedStatus === 'Pendente'
  }"
>
  {{
    selectedStatus === "Aberto"
      ? "Pedidos a serem aprovados"
      : "Pedidos em produção"
  }}
</h2>

<div class="cards-container">
  <div
    class="order-card"
    [ngClass]="{
      'status-aberto': selectedStatus === 'Aberto',
      'status-pendente': selectedStatus === 'Pendente'
    }"
    *ngFor="let order of orders; trackBy: trackByOrderId"
    (click)="openOrderDetails(order.id!)"
  >
    <div class="card-content">
      <h3>Pedido #{{ order.id }}</h3>
      <p>Cliente: {{ order.nameClient }}</p>
      <p>Status: {{ order.status }}</p>
      <p>Obs: {{ order.obs }}</p>
    </div>
  </div>
</div>

<div class="pagination">
  <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
  <span>Página {{ currentPage }} de {{ dataSource.last_page }}</span>
  <button (click)="nextPage()" [disabled]="currentPage >= dataSource.last_page">
    Próxima
  </button>
</div>

<div class="order-details-sidebar" [class.show]="showSidebar">
  <button class="close-btn" (click)="closeOrderDetails()">×</button>
  <h2>Detalhes do Pedido</h2>
  <div *ngIf="selectedOrderDetails">
    <p>
      <strong>Numero da Mesa:</strong> {{ selectedOrderDetails.Comanda.Mesa }}
    </p>
    <p><strong>Cliente:</strong> {{ selectedOrderDetails.Comanda.Cliente }}</p>
    <p>
      <strong>Pagamento:</strong>
      {{ selectedOrderDetails.Comanda.TipoPagamento }}
    </p>
    <p>
      <strong>Status:</strong> {{ selectedOrderDetails.Comanda.StatusDoPedido }}
    </p>
    <p>
      <strong>Observações:</strong>
      {{ selectedOrderDetails.Comanda["Observaçoes"] || "Nenhuma" }}
    </p>
    <p>
      <strong>Hora do Pedido:</strong>
      {{
        selectedOrderDetails.Comanda.HoraDoPedido | date : "HH:mm - dd/MM/yy"
      }}
    </p>
    <h3>Produtos</h3>
    <ul>
      <li *ngFor="let item of selectedOrderDetails.Comanda.Produtos">
        {{ item.Produto }} ({{ item.Quantidade }}x) - R$
        {{ item.ValorTotal | number : "1.2-2" }}
      </li>
    </ul>
    <p>
      <strong>Valor Total:</strong> R$
      {{ selectedOrderDetails.Comanda.ValorTotalDaComanda | number : "1.2-2" }}
    </p>
    <div *ngIf="selectedOrderDetails.Comanda.StatusDoPedido === 'Aberto'">
      <button (click)="Cancelar(selectedOrderDetails.Comanda.id)">
        Recusar Pedido
      </button>
      <button (click)="Aprovar(selectedOrderDetails.Comanda.id)">
        Aprovar Pedido
      </button>
    </div>
    <div *ngIf="selectedOrderDetails.Comanda.StatusDoPedido === 'Pendente'">
      <button (click)="Cancelar(selectedOrderDetails.Comanda.id)">
        Recusar Pedido
      </button>
      <button (click)="Concluir(selectedOrderDetails.Comanda.id)">
        Pedido Pronto
      </button>
    </div>
  </div>
</div>
